<ion-content>
  <div class="list card" ng-controller="SummaryController">
    <div class="">	
	  	<img class="item item-avatar-left" ng-src="{{story.thumbnailImage}}"/>
	  	<h2>{{story.newsHeadline}}</h2>	  	
  	</div>
  	<div class="item item-body">
         <image class="" ng-src="{{story.wideImage}}"/>
         <p>
         	<h3>{{story.summarizedContent}}</h3>
         </p>	
  	</div>
  	   <p>
  	   	 <a href=""><h4>Like</h4></a>
  	   	 <a href=""><h4>Comment</h4></a>
  	   </p>
  </div> 
<ion-content> 
